/* *{
    padding: 0;
    margin: 0;
}
ul,ol,dl{
    list-style: none;
} 
dl dt{
    width: 600px;
    background-color: #333;
    color: #fff;
    line-height: 50px;
    margin: 0 auto;
    text-indent: 40px;
}
dl dd{
    width: 600px;
    background-color: #678;
    color: #fff;
    line-height: 50px;
    margin: 0 auto;
    text-indent: 60px;
} */

*{
    padding: 0;
    margin: 0;
}
dl{
    width: 500px;
    list-style: none;
    text-align: center;
    margin: 0 auto;
}
dl dt{
    background-color: #333;
    color: #fff;
    line-height: 50px;
}
dl dd{
    background-color: #93c2fd;
    color: #fff;
    line-height: 50px;
    display: none;
}