*{
    padding: 0;
    margin: 0;
}
#btn{
    display: block;
<<<<<<< HEAD
    width: 20vw;
    line-height: 10vh;
    background-color: #333;
    color: #fff;
    border: 0;
    font-size: 2em;
    font-weight: bold;
    margin: 100px auto 0;
    box-shadow: 15px 15px 20px;
    cursor: pointer;
}
#popup-box{
    position: fixed;
    width: 400px;
    height: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 200px);
    background-color: antiquewhite;
    color: #000;
    position: relative;
}
#popup-box span{
=======
    width: 10vw;
    line-height: 50px;
    background-color: #333;
    color: #fff;
    border: 0;
    margin: 200px auto 0;
    cursor: pointer;
}
.popup-box{
    width: 600px;
    height: 400px;
    background-color: burlywood;
    position: fixed;
    top: calc(50%-200px);
    left: calc(50%-300px);
    margin: 0 auto;
    position: relative;
    display: none;
}
.popup-box span{
    font-size: 30px;
>>>>>>> a780b5a3d8e893f4f239eb3ff4c039ec7ca61cd9
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
<<<<<<< HEAD
#popup-box p{
    line-height: 500px;
    text-align: center;
}
=======
.popup-box p{
    text-align: center;
    line-height: 400px;
}
.show{
    display: block !important; 
}
>>>>>>> a780b5a3d8e893f4f239eb3ff4c039ec7ca61cd9
