*{
    padding: 0;
    margin: 0;
}
#container{
    width: 80vw;
    text-align: center;
    margin: 0 auto;
    height: 300vh;
}
#container section{
    background-color: #333;
    color: #fff;
    line-height: 80px;
}
#container header{
    background-color: #28bd37;
    position: sticky;
    top: 0;
    width: 100%;
}
#container header p{
    display: inline-block;
    color: #fff;
    line-height: 50px;
}
.top-btn{
    width: 10vw;
    height: 200px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 40px;
    display: block;
    line-height: 200px;
}
.transform{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ffff00;
    transition: all 0.6s linear;
    transform-origin: center;
}
header p:hover + .transform{
    transform: translateX(100px) rotate(1200deg);
}