.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
html,body{
    font-size: 14px;
    font-family: "Nanum Gothic";
}
#form-tag fieldset{
    border: 0;
    width: 500px;
    text-align: center;
    margin: 100px auto;
    background-color: #f2f2f2;
}
#form-tag .title{
    line-height: 80px;
    color: #f2562e;
    font-size: 2rem;
    font-weight: bold;
}
.box{
    width: 450px;
    height: 380px;
    background-color: #fff;
    margin: 20px auto;
}
.info li{
    line-height: 50px;
}
.info li input{
    padding: 5px;
    line-height: 30px;
    width: 350px;
    border: 0;
    border-bottom: solid 1px #999;
    color: #444;
}
.auto{
    display: block;
    text-align: left;
    margin-left: 50px;
}
#info li input::placeholder{
    color: #aaa;
}
#form-tag label{
    line-height: 50px;
}
#ok:hover{
    background-color: #000;
}
#ok{
    width: 350px;
    line-height: 40px;
    background-color: #f2562e;
    color: #fff;
    border: 0;
    cursor: pointer;
    font-weight: bold;
}
.join{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 20px auto;
}
/* .join li span a{
    display: inline-block;
    padding: 8px;
} */
.join li span:hover a{
    border-bottom: solid 1px #333;
}
.join li span::after{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: solid 1px #999;
}
.join li:last-child  span::after{
    border-right: none;
}
.join li span a{
    color: #333;
    font-size: 12px;
}
.border{
    width: 360px;
    margin: 0 auto;
    border-top: solid 1px #999;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.site{
    width: 100px;
    line-height: 30px;
    border-radius: 5%;
    display: inline-block;
    margin: 20px 0 40px 0;
}
#facebook{
    color: #fff;
    background-color: #3b5997;
}
#google{
    background-color: #fff;
    color: #333;
    border: solid 1px #999;
}
#naver{
    color: #fff;
    background-color: #3dbb19;
}